@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,700&family=Montserrat:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply text-gray-200 selection:bg-indigo-900 focus:transition-none focus-visible:rounded-md;
	box-sizing: border-box !important;
}

.bg-gradient-div {
	width: 400%;
	height: 400%;
	background: linear-gradient(
		-45deg,
		rgb(36, 32, 141),
		rgb(17 24 39),
		rgb(0 0 0)
	);
	animation: gradient 60s ease infinite;
}

@keyframes gradient {
	0% {
		transform: translate(0%, 0%);
	}
	50% {
		transform: translate(-50%, -50%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

.selected-nav-link {
	background: linear-gradient(0deg, rgb(112, 112, 112, 0.2) 1%, transparent 90%);
}

.custom-scrollbar {
	@apply scrollbar-thin scrollbar-thumb:rounded-2xl scrollbar-thumb:bg-indigo-400 scrollbar-thumb:bg-opacity-40 dark:scrollbar-thumb:bg-indigo-700 dark:scrollbar-thumb:bg-opacity-40;
}

/* to override autocomplete/autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: rgb(229 231 235);
	transition: 50000s !important;
}
